---
import { AstroIcon, ReactIcon, HeartIcon } from "@/features/icons/components";
import { HoverableIcon, Paragraph } from "@/features/ui/components";
---

<footer
  class="max-w-3xl mx-auto flex flex-col justify-center items-center my-5 py-4 px-5 gap-2 border-t border-gray-200 dark:border-gray-700"
>
  <section id="built-with" class="flex gap-2">
    <HoverableIcon>
      <AstroIcon />
    </HoverableIcon>
    <Paragraph>+</Paragraph>
    <HoverableIcon>
      <ReactIcon />
    </HoverableIcon>
  </section>
  <section id="made-by" class="flex gap-2">
    <Paragraph>Made with</Paragraph>
    <Paragraph>
      <span
        class="text-[#fff0] block hover:text-razzmatazz-400 transition hover:scale-125"
        ><HeartIcon /></span
      >
    </Paragraph>
    <Paragraph>by epulla</Paragraph>
  </section>
</footer>
