<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Feliz cumple mi Gen!</title>
    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
  </head>
  <body>
    <div id="sketch-holder"></div>
    <script is:inline src="/scripts/happy-birthday.js"></script>
  </body>
</html>