---
import {
  HoverableIcon,
  Paragraph,
  SectionTitle,
  Title,
} from "@/features/ui/components";
import BaseLayout from "../layouts/BaseLayout.astro";
import {
  AstroIcon,
  ChromeIcon,
  CopyIcon,
  DaisyUiIcon,
  DjangoIcon,
  DocumentIcon,
  DrizzleIcon,
  ExpressIcon,
  FastApiIcon,
  FirebaseIcon,
  FlutterIcon,
  GithubIcon,
  LinkedinIcon,
  NextIcon,
  P5Icon,
  PrismaIcon,
  PythonIcon,
  ReactIcon,
  RedisIcon,
  SupabaseIcon,
  SvelteIcon,
  TailwindIcon,
  TwilioIcon,
  TwitterIcon,
  TypescriptIcon,
  ViteIcon,
} from "@/features/icons/components";
import {
  TimeLine,
  TimeLineItalic,
  TimeLineItem,
  TimeLineTime,
  TimeLineTitle,
} from "@/features/timeline/components";
import { CardTitle, IconCard, LinkCard } from "@/features/card/components";
import { CardContent } from "@/features/card/components";
---

<BaseLayout title="Portfolio">
  <section id="intro" class="flex gap-4 items-center">
    <img
      class="w-[115px] sm:w-[150px] md:w-[200px] rounded-xl border border-razzmatazz-400 dark:border-razzmatazz-700 hover:translate-x-1 transition"
      src="/images/profile_photo.jpeg"
      alt="Erick Pulla"
    />
    <div class="flex flex-col gap-2">
      <Title>Erick Pulla</Title>
      <Paragraph>
        Hi! I am <span class="text-razzmatazz-600 dark:text-razzmatazz-400"
          >fullstack developer
        </span>that loves building random stuff :)
      </Paragraph>
      <div
        class="flex items-center rounded bg-slate-100 dark:bg-gray-900 py-1 px-2"
      >
        <input
          class="bg-inherit text-gray-500 dark:text-gray-400 w-full text-sm sm:text-base"
          type="text"
          value="erickpulladsi@gmail.com"
          id="mail"
          onclick="this.select()"
          disabled
        />
        <button
          id="copy-email-btn"
          data-tippy-content="Copy"
          class="rounded text-gray-500 dark:text-gray-400 hover:scale-110"
          ><CopyIcon /></button
        >
      </div>
      <div class="flex gap-3">
        <a
          href="https://www.linkedin.com/in/erickpulla/"
          target="_blank"
          data-tippy-content="Linkedin"
          class="border border-[#0078d4] hover:bg-slate-300 dark:hover:bg-gray-500 rounded-xl p-0.5 transition cursor-pointer hover:scale-110"
          ><LinkedinIcon /></a
        >
        <a
          href="https://github.com/epulla"
          target="_blank"
          data-tippy-content="Github"
          class="border border-[#383838] hover:bg-slate-300 dark:hover:bg-gray-500 rounded-xl p-0.5 transition cursor-pointer hover:scale-110"
          ><GithubIcon /></a
        >
        <a
          href="https://twitter.com/erick_pulla"
          target="_blank"
          data-tippy-content="Twitter / X"
          class="border border-[#03A9F4] hover:bg-slate-300 dark:hover:bg-gray-500 rounded-xl p-0.5 transition cursor-pointer hover:scale-110"
          ><TwitterIcon /></a
        >
        <a
          href="/cv/FullStack_CV_english_ErickPulla.pdf"
          target="_blank"
          data-tippy-content="CV"
          class="border border-[#000] dark:border-[#fff] hover:bg-slate-300 dark:hover:bg-gray-500 rounded-xl p-0.5 transition cursor-pointer dark:text-white hover:scale-110"
        >
          <span class="hidden sm:inline"><DocumentIcon /></span>
          <span class="inline-flex sm:hidden h-full items-center px-[4px]"
            >CV</span
          >
        </a>
      </div>
    </div>
  </section>
  <section id="experience" class="flex flex-col gap-3">
    <SectionTitle>Experience</SectionTitle>
    <TimeLine>
      <TimeLineItem>
        <TimeLineTime>April 2023 - now</TimeLineTime>
        <TimeLineTitle>
          Senior Software Engineer (Novacomp)<TimeLineItalic>
            San José, Costa Rica
          </TimeLineItalic>
        </TimeLineTitle>
        <ul class="list-disc ml-4">
          <li>
            <Paragraph>
              Developed cron job solutions in Apache Airflow for ACH files and
              reports deliveries according to stakeholders' requirements such as
              schedule, days (weekdays/holidays/weekend).
            </Paragraph>
          </li>
          <li>
            <Paragraph>
              Supported production as On Call Person to watch any incident,
              requirement or special events during the day along with BizOps,
              DevOps and Backend team.
            </Paragraph>
          </li>
          <li>
            <Paragraph>
              Create Data Dashboards for different teams accross the company
              (BizOps, Partners, Product owners) using React, GraphQL,
              Javascript and PostgreSQL
            </Paragraph>
          </li>
        </ul>
      </TimeLineItem>
      <TimeLineItem>
        <TimeLineTime>December 2021 - April 2023</TimeLineTime>
        <TimeLineTitle>
          Software Engineer (IOET)<TimeLineItalic>
            Incline Village, NV, USA
          </TimeLineItalic>
        </TimeLineTitle>
        <ul class="list-disc ml-4">
          <li>
            <Paragraph>
              Led the development of a web application (frontend) of statistical
              dashboard showing metrics about the performance of developers
              completing Jira tickets during a sprint or a certain time lapse.
            </Paragraph>
          </li>
          <li>
            <Paragraph>
              Designed and implemented scalable APIs (REST and GraphQL) along
              with cron jobs for managing first and third party services and
              reducing time by 90% (from 10 seconds to 1 second)
            </Paragraph>
          </li>
        </ul>
      </TimeLineItem>
      <TimeLineItem>
        <TimeLineTime>December 2021 - April 2023</TimeLineTime>
        <TimeLineTitle>
          Data Analyst (Guayaquil Municipality)
          <TimeLineItalic>Guayaquil, Guayas, Ecuador</TimeLineItalic>
        </TimeLineTitle>
        <ul class="list-disc ml-4">
          <li>
            <Paragraph>
              Collected and cleaned demographic raw data about pregnant women
              from low-income neighborhoods in Guayaquil.
            </Paragraph>
          </li>
          <li>
            <Paragraph>
              Led the development and design of a frontend application that
              helped to track syphilis cases in Guayaquil city using Google
              Maps.
            </Paragraph>
          </li>
        </ul>
        <br />
      </TimeLineItem>
      <TimeLineItem>
        <TimeLineTime>February 2020 - January 2021</TimeLineTime>
        <TimeLineTitle>
          Software Engineer (Fish Industry Santa Priscila)
          <TimeLineItalic>Guayaquil, Guayas, Ecuador</TimeLineItalic>
        </TimeLineTitle>
        <ul class="list-disc ml-4">
          <li>
            <Paragraph>
              Developed an automated bot that browses the Ecuadorian tax website
              to extract relevant information for the company.
            </Paragraph>
          </li>
          <li>
            <Paragraph>
              Developed and implemented an e-learning system for seasonal
              evaluation of workers and trained HR staff to manage it.
            </Paragraph>
          </li>
        </ul>
      </TimeLineItem>
      <TimeLineItem>
        <TimeLineTime>February 2019 - February 2020</TimeLineTime>
        <TimeLineTitle>
          Master Assistant (Casa Grande University)
          <TimeLineItalic>Guayaquil, Guayas, Ecuador</TimeLineItalic>
        </TimeLineTitle>
        <ul class="list-disc ml-4">
          <li>
            <Paragraph>
              Designed and developed mini games that helped a class lesson be
              more interactive for students (games such as roulette with prices,
              tic tac toe, dice roller, coin flipper).
            </Paragraph>
          </li>
        </ul>
      </TimeLineItem>
    </TimeLine>
  </section>

  <section id="projects" class="flex flex-col gap-3">
    <SectionTitle>Projects</SectionTitle>
    <LinkCard>
      <CardTitle>
        <div class="flex items-center gap-3">Prod Tickets</div>
      </CardTitle>
      <CardContent>
        Jira clone made with Sveltekit (frontend) and Nest.js (backend) for
        ticketing. This project was implemented for the ITB (Bolivarian
        Technological Institute or ITB in spanish) (released privately on
        09/2024)
        <span class="flex gap-3 pt-3">
          <HoverableIcon dataTippyContent="Svelte">
            <SvelteIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="Typescript">
            <TypescriptIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://epulla.github.io/">
      <CardTitle>
        <div class="flex items-center gap-3">Portfolio</div>
      </CardTitle>
      <CardContent>
        Personal portfolio made with Astro and React. This project was created
        to show my projects, experiences and techs that I love and deployed
        using Github Pages.
        <span class="flex gap-3 pt-3">
          <HoverableIcon dataTippyContent="Astro">
            <AstroIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="React">
            <ReactIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://github.com/epulla/easy-web-macros">
      <CardTitle>
        <div class="flex items-center gap-3">Easy Web Macros</div>
      </CardTitle>
      <CardContent>
        Google Chrome Extension that will allow an user to record your web
        actions and replay them with a single click.
        <span class="flex gap-3 pt-3">
          <HoverableIcon dataTippyContent="Svelte">
            <SvelteIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="Vite">
            <ViteIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="Chrome API">
            <ChromeIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://github.com/epulla/moodle-api-handler">
      <CardTitle>
        <div class="flex items-center gap-3">Moodle API Handler</div>
      </CardTitle>
      <CardContent>
        Moodle API Handler is an open-source tiny app that helps to manage your <a
          class="underline"
          href="https://docs.moodle.org/dev/Web_service_API_functions"
          target="_blank"
          rel="noopener noreferrer">API functions from Moodle</a
        > (you can read more about Moodle WebServices <a
          class="underline"
          href="https://docs.moodle.org/dev/Web_service_API_functions"
          target="_blank"
          rel="noopener noreferrer">here</a
        >).
        <span class="flex gap-3 pt-3">
          <HoverableIcon dataTippyContent="Svelte">
            <SvelteIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="Firebase">
            <FirebaseIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://github.com/epulla/quicknote">
      <CardTitle>Quicknote</CardTitle>
      <CardContent>
        Quicknote is an open-source app that helps to create and share volatile
        messages which only text is allowed. This app is perfect to quickly
        share passwords, private tokens, private credentials and gossip :)
        <span class="flex gap-3 pt-3 items-center">
          <HoverableIcon dataTippyContent="React">
            <ReactIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="FastAPI">
            <FastApiIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="Redis">
            <RedisIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://github.com/epulla/twilio_minimal_video_call_app">
      <CardTitle>Twilio Video Call App</CardTitle>
      <CardContent>
        This is a minimal application for videocalling (Peer-to-Peer) using <a
          class="underline"
          href="https://www.twilio.com/docs"
          target="_blank"
          rel="noopener noreferrer">Twilio API</a
        > (you must need to get access to Twilio credentials to use the app).
        <span class="flex gap-3 pt-3 items-center">
          <HoverableIcon dataTippyContent="FastAPI">
            <FastApiIcon />
          </HoverableIcon>
          +
          <HoverableIcon dataTippyContent="Twilio">
            <TwilioIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://github.com/epulla/pokedex-flutter">
      <CardTitle>Mobile Pokedex App</CardTitle>
      <CardContent>
        This is a project about showing an interactive Pokedex in a mobile
        version. This project was created using Flutter, Dart and <a
          class="underline"
          href="https://pokeapi.co/"
          target="_blank"
          rel="noopener noreferrer">PokéApi</a
        > (free pókemon API).
        <span class="flex gap-3 pt-3 items-center">
          <HoverableIcon dataTippyContent="Flutter">
            <FlutterIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
    <LinkCard url="https://github.com/epulla/BingoGenerator">
      <CardTitle>Bingo Generator</CardTitle>
      <CardContent>
        This project is a Bingo generator (Ecuador version). It is one of my
        very first projects as a programming student. Hope you like it! :D
        <span class="flex gap-3 pt-3 items-center">
          <HoverableIcon dataTippyContent="Python">
            <PythonIcon />
          </HoverableIcon>
        </span>
      </CardContent>
    </LinkCard>
  </section>
  <section id="techs" class="flex flex-col gap-3">
    <SectionTitle>Favorite Techs</SectionTitle>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-4">
      <IconCard>
        <HoverableIcon dataTippyContent="Love it! specially the community!">
          <ReactIcon size={56} />
        </HoverableIcon>
        React
      </IconCard>
      <IconCard>
        <HoverableIcon>
          <NextIcon size={56} />
        </HoverableIcon>
        Next.js
      </IconCard>
      <IconCard>
        <HoverableIcon dataTippyContent="My first language <3">
          <PythonIcon size={56} />
        </HoverableIcon>
        Python
      </IconCard>
      <IconCard>
        <HoverableIcon
          dataTippyContent="Really nice service! Specially its NoSQL database (FireStore) and realtime changes"
        >
          <FirebaseIcon size={56} />
        </HoverableIcon>
        Firebase
      </IconCard>
      <IconCard>
        <HoverableIcon
          dataTippyContent="Damn good service! Specially its SQL database and realtime changes"
        >
          <SupabaseIcon size={56} />
        </HoverableIcon>
        Supabase
      </IconCard>
      <IconCard>
        <HoverableIcon
          dataTippyContent="I personally love it along with SvelteKit"
        >
          <SvelteIcon size={56} />
        </HoverableIcon>
        Svelte
      </IconCard>
      <IconCard>
        <HoverableIcon dataTippyContent="My favourite ORM!">
          <DrizzleIcon size={56} />
        </HoverableIcon>
        Drizzle
      </IconCard>
      <IconCard>
        <HoverableIcon>
          <PrismaIcon size={56} />
        </HoverableIcon>
        Prisma
      </IconCard>
      <IconCard>
        <HoverableIcon>
          <ExpressIcon size={56} />
        </HoverableIcon>
        Express
      </IconCard>
      <IconCard>
        <HoverableIcon>
          <FastApiIcon size={56} />
        </HoverableIcon>
        FastAPI
      </IconCard>
      <IconCard>
        <HoverableIcon>
          <DjangoIcon size={56} />
        </HoverableIcon>
        Django
      </IconCard>
      <IconCard>
        <HoverableIcon
          dataTippyContent="Perfect. Everything, down to the last minute details"
        >
          <AstroIcon size={56} />
        </HoverableIcon>
        Astro
      </IconCard>
      <IconCard>
        <HoverableIcon dataTippyContent="Best JS library ever!">
          <P5Icon size={56} />
        </HoverableIcon>
        p5.js
      </IconCard>
      <IconCard>
        <HoverableIcon dataTippyContent="Best CSS library ever!">
          <TailwindIcon size={56} />
        </HoverableIcon>
        Tailwindcss
      </IconCard>
      <IconCard>
        <HoverableIcon dataTippyContent="Best Tailwind library ever!">
          <DaisyUiIcon size={56} />
        </HoverableIcon>
        DaisyUI
      </IconCard>
    </div>
  </section>
  <section id="education" class="flex flex-col gap-3">
    <SectionTitle>Education</SectionTitle>
    <TimeLine>
      <TimeLineItem>
        <TimeLineTime>February 2017 - March 2022</TimeLineTime>
        <TimeLineTitle>
          Engineer Degree (ESPOL)<TimeLineItalic>
            Guayaquil, Guayas, Ecuador
          </TimeLineItalic>
        </TimeLineTitle>
        <Paragraph>Major in Computer Science Engineering</Paragraph>
      </TimeLineItem>
    </TimeLine>
  </section>
</BaseLayout>

<script is:inline src="https://unpkg.com/@popperjs/core@2"></script>
<script is:inline src="https://unpkg.com/tippy.js@6"></script>
<script is:inline>
  tippy("[data-tippy-content]", {
    placement: "bottom",
    theme: "light",
  });

  const copyEmailBtnTippy = tippy("#copy-email-btn", {
    placement: "bottom",
    theme: "light",
    hideOnClick: false,
  })[0];

  // copy mail to clipboard
  // reference: https://www.w3schools.com/howto/howto_js_copy_clipboard.asp
  const copyEmailBtn = document.getElementById("copy-email-btn");
  copyEmailBtn.addEventListener("click", () => {
    const mailElement = document.getElementById("mail");
    // Select the text field
    mailElement.select();
    mailElement.setSelectionRange(0, 99999); // For mobile devices

    // Copy the text inside the text field
    if (navigator.clipboard) {
      navigator.clipboard.writeText(mailElement.value);
      copyEmailBtnTippy.setContent("Copied!");

      setTimeout(() => {
        copyEmailBtnTippy.setContent("Copy");
      }, 4000);
    } else {
      // alert("hey")
      mailElement.removeAttribute("disabled");
      mailElement.setAttribute("readonly", true);
      mailElement.select();
    }
  });
</script>

<style is:global>
  .dark .tippy-box[data-theme~="light"] {
    background-color: #fff;
    color: #111827;
  }

  .dark
    .tippy-box[data-theme~="light"][data-placement^="top"]
    > .tippy-arrow::before {
    border-top-color: #fff;
  }
  .dark
    .tippy-box[data-theme~="light"][data-placement^="bottom"]
    > .tippy-arrow::before {
    border-bottom-color: #fff;
  }
  .dark
    .tippy-box[data-theme~="light"][data-placement^="left"]
    > .tippy-arrow::before {
    border-left-color: #fff;
  }
  .dark
    .tippy-box[data-theme~="light"][data-placement^="right"]
    > .tippy-arrow::before {
    border-right-color: #fff;
  }
</style>
