---
import { ThemeToggle } from "../../features/ui/components";
---

<header class="w-full sticky top-0 backdrop-blur-lg py-4 px-5 z-50">
  <div class="max-w-3xl mx-auto flex justify-end">
    <ThemeToggle client:only="react" />
  </div>
</header>
